{% extends 'jobseeker/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Enter Details {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <h1 class="text-center">Enter Your Details</h1>
    <div class="col-md-6">
      <div class="card p-4">
        <form method="post" action="{% url 'userinfo' %}" enctype="multipart/form-data" class="mt-4">
          {% csrf_token %}
          {% if form.email %}
            {{ form.email|as_crispy_field }}
          {% endif %}
          {% if form.phone_number %}
            {{ form.phone_number|as_crispy_field }}
          {% endif %}
          {% if form.linkedin_password %}
            {{ form.linkedin_password|as_crispy_field }}
          {% endif %}
          {% if form.indeed_password %}
            {{ form.indeed_password|as_crispy_field }}
          {% endif %}
          {% if form.dice_password %}
            {{ form.dice_password|as_crispy_field }}
          {% endif %}
          {% if form.profession %}
            {{ form.profession|as_crispy_field }}
          {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-4">
        {% if form.interests %}
          {{ form.interests|as_crispy_field }}
        {% endif %}
        {% if form.country %}
          {{ form.country|as_crispy_field }}
        {% endif %}
        {% if form.location %}
          {{ form.location|as_crispy_field }}
        {% endif %}
        <h3 class="text-center">Upload Files</h3>
        {% if form.avatar %}
          {{ form.avatar|as_crispy_field }}
        {% endif %}
        {% if form.resume %}
          {{ form.resume|as_crispy_field }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Proceed to Application</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
