{% extends 'jobseeker/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Enter Details {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <h1 class="text-center">Enter Your Details</h1>
    <div class="col-md-6">
      <div class="card p-4">
        <form method="post" action="{% url 'userinfo' %}" enctype="multipart/form-data" class="mt-4">
          {% csrf_token %}
          {{ form.email|as_crispy_field }}
          {{ form.phone_number|as_crispy_field }}
          {{ form.linkedin_password|as_crispy_field }}
          {{ form.indeed_password|as_crispy_field }}
          {{ form.profession|as_crispy_field }}
          {{ form.interests|as_crispy_field }}
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-4">
        {{ form.country|as_crispy_field }}
        {{ form.location|as_crispy_field }}
        <h3 class="text-center">Upload Files</h3>
          {{ form.avatar|as_crispy_field }}
          {{ form.resume|as_crispy_field }}
          <button type="submit" class="btn btn-primary">Proceed to Application</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
